extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .tmp-with-sidebar-ernest
    .tmp-sidebar-menu
      
        
          a(href="https://intuition.team/") Services
         
          a(href="https://intuition.team/") Prices
        
          a(href="https://intuition.team/") Portfolio
        
          a(href="https://intuition.team/") Contacts
        
  
    section 
      h1 Ernest Makarenko — nice guy
      figure  

    video(style={width: '100%', margin: '0 0 0 0 '} src="https://dl.dropboxusercontent.com/s/99l9tmal0lx10jm/allur_fin_eng.mp4?dl=0" autoplay, muted, loop, preload: 'auto') 
  
  
    p Pocket Rocket Agency
    h1 Tap!
    aside
      p Я пришёл на встречу с главным инженером, чтобы обсудить всякие детали — мы уже довольно долго искали баланс между желаниями и возможностями, вроде что-то нащупывалось, решили ускорить процесс и обсудить лично.
    
    