extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .tmp-with-sidebar
    .tmp-sidebar-menu
      ul
        li #[a(href='#CustomerExperience') Customer experience]
          ul
            li #[a(href='#MetaverseAndAR') Metaverse and AR]
            li #[a(href='#SocialShopping') Social shopping]
            li #[a(href='#ExperientialRetail') Experiential retail]
            li #[a(href='#DiversityAndInclusivity') Diversity and inclusivity]
        li #[a(href='#Sustainability') Sustainability]
          ul
            li #[a(href='#CircularTextiles') Circular textiles]
            li #[a(href='#Second-handFashion') Second-hand fashion]
            li #[a(href='#Try-on') Virtual try-on technology]
            li #[a(href='#ProductPassports') Product passports]
        li #[a(href='#wrappers') Agility]
          ul
            li #[a(href='#FitTechnology') Fit technology]
            li #[a(href='#ChannelDiversification ') Channel diversification]
            li #[a(href='#SupplyChainInnovation ') Supply chain innovation]    
        li #[a(href='#Conclusion') Conclusion, key takeaways]    
  
    section 
      figure 
        img(src="https://images.unsplash.com/photo-1678365202203-a362fa7c880d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80", alt="")
        caption Source:             
      h1 The Future of Luxury Fashion Retail: Trends For 2023
      p With recovery still slow post-pandemic, what opportunities are there in AR technology, consumer behavior, and sustainability that fashion retailers can seize to drive growth this year?
    

    //video(style={width: '100%', margin: '0 0 0 0 '} src="https://dl.dropboxusercontent.com/s/99l9tmal0lx10jm/allur_fin_eng.mp4?dl=0" autoplay, muted, loop, preload: 'auto') 
  


    aside
      p As the world began to open up again after the chaos and uncertainty brought about by the Covid-19 pandemic, 2022 began with its own unique set of economic and political disruptors to impact the fashion industry. Protracted war conflicts and the ensuing energy crisis across Europe, the unprecedented rise in inflation which led to interest hikes in many major economies, the threat of global recession, and the impact of the climate crisis are all challenges that fashion houses and brands are still tackling as we pass the midway point of 2023’s first quarter.
      p However, despite these difficulties, the fashion industry can look forward to numerous opportunities in 2023. According to the
        span 
          a(href="") BoF-McKinsey State of Fashion 2023 Report 
        span sustainability, agility, and the customer experience are all opportunities to be seized by luxury retailers in the coming year.
      ul
        li Advances in AR technology are enabling businesses to provide consumers with the enhanced customer experience being demanded across all fashion ecommerce platforms 
        li Luxury brands can gain a competitive edge by differentiating themselves through virtual and augmented reality shopping experiences
        li New approaches to logistics are supporting brands' ability to become more agile
        li Supply-chain innovation and channel diversification are improving the fashion industry’s adaptability in a turbulent landscape
        li Innovations in circular textiles, second-hand fashion, and digital product passports are addressing user demands–and political pressure–for more sustainable fashion
      figure.S
        img(src="https://images.unsplash.com/photo-1628583768483-a762d81fa84c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2779&q=80")
        figcaption Source: The BoF-McKinsey State of Fashion Report 2023
      p.ids__lead In this article, we’re going to be diving into the details of the BoF-McKinsey State of Fashion Report and looking more closely at the opportunities available to the luxury fashion industry in 2023. 



    section#CustomerExperience 
      h2 Customer experience–defining the future of fashion 


      p With the shift by customers towards ecommerce platforms over in-person shopping over the last 15 to 20 years, luxury retailers are under more pressure than ever before to provide unique customer experiences online in order to stand out from their competitors. When coupled with increased demand from users for interaction and personalization online akin to their offline experiences, the retailers who do this well are not only able to successfully differentiate from others in their field, they are able to better cultivate a loyal and frequently evangelizing customer base. 
      p Let’s look at some of the major future fashion trends currently enhancing the customer experience both on- and offline
      
      section#MetaverseAndAR 
        h3 Metaverse and AR 
        p The metaverse, a digital world in which users can enjoy virtual experiences, is set to change the face of storytelling in retail as we look to the future of the fashion industry. Pioneering technology company, Meta, is leading the way, having already spent  billions on its AR and metaverse platform. 
        p Reflecting the increased amount of time that users are spending online combined with the popularity of ecommerce sites, the metaverse creates an immersive experience in a space that feels as close to the real world as is currently possible in a virtual reality (VR) realm. In the metaverse, audio cues, music, and sound effects can be used to trigger important emotional responses in buyers, while shapes, colors, and textures can assist retailers in building a realistic and appealing storefront that encourages consumers to make purchases. 
        p With 
          span 
            a(href="")  sixty percent of metaverse users hailing from Gen Z
          span , the metaverse will provide retailers with a platform for meaningful connections with this target group as well as open up a space for the alignment of users’ online and offline identities. Creativity and innovation here will be key. The metaverse not only enables retailers to keep up with industry trends and changes in a digital realm, it promotes and facilitates digital experimentation. 
        h4 AR (Augmented Reality) 
        p Augmented Reality (AR), when digital content is overlaid onto a real-world situation in order to augment or enhance the individual’s experience, will also dominate in luxury retail this year, with a particular emphasis on virtual try-on technology. As leaders in AR fashion technology, Wanna provides solutions that enable users to virtually "try on" a wide range of footwear and watches, and explore bags from every angle using our advanced 3D viewer.Not only does AR allow customers to see how items would look on them before making a purchase, it significantly enhances the customer experience and reduces the likelihood of returns, in doing so boosting overall customer satisfaction. 
        p In addition to using AR to create virtual try-ons for products, AR technology can help luxury brands create interactive displays and installations in stores, providing customers with a visually stunning and memorable experience. In luxury retail, AR technology can be used to create personalized experiences for customers, such as customizing products or creating virtual showrooms making the experience more engaging and interactive. This can lead to increased customer loyalty and repeat business, as customers feel more connected to the brand and its products.
        figure.XS
          img(src="https://images.unsplash.com/photo-1628583768483-a762d81fa84c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2779&q=80", alt="", srcset="")
        p With convenience and personalization valued more highly by shoppers today than the price or even the product, AR presents an opportunity for brands to curate smart shopping experiences that will influence and guide buying behavior and decision making. 
        h4 Brand differentiation with AR 
        p Finally, AR technology is a market differentiator, providing luxury brands with an opportunity to gain a competitive edge in a crowded market. With the rise of ecommerce and the increasing popularity of online shopping, luxury brands can use AR to differentiate themselves and provide unique experiences for customers. In addition, AR allows luxury brands to offer a seamless integration of online and offline shopping experiences, creating a more comprehensive and rewarding customer journey. 
        p If your fashion brand is looking to partner with a virtual try-on technology company, you can leave your inquiry with our team at Wanna, 
          a(href="") here.

      
      section#SocialShopping 
        h3 Social shopping 
        p Social shopping, whereby online retailers attempt to mimic the social interactions consumers encounter in real-world shopping scenarios, is likely to see huge takeup over the next 6 to 12 months, as both luxury brands and highstreet retailers embrace the impact social media interactions have on a shopper’s buying choices. China has the most developed social commerce market globally, which was worth more than 
          span 
          a(href="") $374 billion as of 2021 
          span and continues to grow at an exponential rate. 
        p Social shopping works by enabling an individual’s social media network to comment, recommend, and share products or services, in doing so enhancing an individual’s relationship with a brand and creating an environment within which they can enjoy an experience akin to that of going shopping with friends.

      section#ExperientialRetail 
      h3 Experiential retail
      p Experiential retail is when customers in a physical store have the choice of being part of (or taking part in) experiences beyond what might be traditionally expected within a retail space. Amazon Go is a great example of experiential retail, with cashierless, partially automated stores which enable customers to pick up their goods and leave without going via a checkout. 
      p From in-store cafes and lounges, to live music, or videos streamed on the walls, experiential retail typically seeks to promote high levels of customer engagement through the augmentation and optimization of customer interactions with a brand via the latest technology. Crucial to the success of an experiential retail project is having the brand’s identity fully aligned with the experiences being offered to ensure a seamless and consistent brand immersion for users. Some of the best examples in experiential retail include 
        span 
          a(href="")  Farfetch’s Store of the Future
          span , 
          a(href="")  Huda Beauty’s immersive retail experience pop-up store
          span , and 
          a(href="")  Vans’ House of Vans 
          span in-store experience where cinema, skate ramps, music, and fashion came together in one central location. 
      section#DiversityAndInclusivity 
        h3 Diversity and inclusivity
        p Moves by retailers to become part of a more inclusive fashion industry will become more commonplace as we head further into 2023, with brands seeking to provide shoppers with opportunities to move away from the largely gendered experience many still face in stores and online. Although Gen Z are not necessarily seeking out gender neutral items, according to The BoF-McKinsey State of Fashion 2023 Report, what is clear is the generation’s wholesale rejection of binary classifications and a desire for less restrictive fashion choices. Younger shoppers are purchasing items across both male and female ranges and frequently identifying as “co-creators” in the conception of trends. Luxury brands which are likely to succeed in the space are those that accept and include everyone without pushing any specific agenda on their customers.  

    section#Sustainability 
      figure 
        img(src="https://images.unsplash.com/photo-1678365202203-a362fa7c880d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80", alt="")
        caption Source: 
      h2 Sustainability — the biggest opportunity for luxury fashion in 2023
      p With 
        span 
        a(href="") 87% of the total fiber input used for clothing sent to landfill or incinerated
        span , it’s no surprise that climate activists and the general public at large are demanding new, sustainable alternatives to fast fashion. This change in attitude is being supported in law with 
        a(href="")  The EU Strategy for Sustainable Law and Circular Textiles
        span , which decrees that textile products should be “long-lived and recyclable” by 2030.
      p According to the BoF-McKinsey State of Fashion Report, leaders of fashion businesses recognize sustainability as the biggest opportunity for retailers in 2023. With a sharp rise in user awareness of climate issues combined with EU regulation change, we can expect to see more and more fashion brands adopting and building on innovative sustainability-focused technologies and methodologies, such as circular textile systems, second-hand fashion, virtual try-on technology, and digital product passports over the course of this year. 
      p Let’s take a look in more detail at what we can expect from each.

      section#CircularTextiles
        h3 Circular textiles 
        p Within a circular textiles system, no material is viewed as waste, but instead as a valuable resource. In the study,
          span 
            a(href="") Circular Economy in the Textile Sector
          span  by the German Federal Ministry for Economic Cooperation and Development (BMZ), a circular textiles system is defined as: 
        p.ids__lead “An industrial system which produces neither waste nor pollution by redesigning fibers to circulate at a high quality within the production and consumption system for as long as possible and/or feeding them back into the bio- or technosphere to restore natural capital or providing secondary resources at the end of use.”
        figure 
          img(src="https://images.unsplash.com/photo-1678365202203-a362fa7c880d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80", alt="")
          caption Source:         
        p Through innovation such as this in textile use and reuse, the adoption of new technologies and renewable materials, and an increase in the recycling of used clothing, over the course of 2023 we’re likely to witness an even sharper shift away from fast fashion and mass production and a move towards high quality, long-lasting luxury clothing and accessories. Circular textiles will play a major role in this by reducing the amount of waste produced by the fashion industry as a whole and promoting both the recycling of textiles and the mainstream adoption of sustainable and regenerative materials.

      section#Second-handFashion
        h3 Second-hand fashion, rental and repair
        p A huge opportunity for the luxury fashion industry in 2023 will be building on the spike in interest from consumers in second-hand clothes, rental garments, and repairs. According to the BoF-McKinsey State of Fashion 2023 Report, resale revenue is forecast to grow to a staggering $47 billion by 2025, up from $15 billion in 2022–and eleven times faster than apparel retail–due to Gen Z shoppers looking to make savings and cut back on spending, while still owning luxury garments and accessories. 
        p What we can expect to see in second-hand sales won’t be limited to second-hand outlets, either. Big names in luxury wear such as 
          span 
            a(href="")  Oscar de la Renta
            span ,  
            a(href="")  Valentino
            span , and 
            span 
              a(href="") Gucci 
            span have for some years now offered customers the opportunity to purchase their products second hand either on their own domains or via third party outlets, a fashion retailing trend that is likely to be taken up by other retailers this year as they seek to tap into user interest in sustainable fashion and meet EU guidelines. 
        p Rental is also providing opportunities for reuse, with high-end and designer labels such as 
          span
            a(href="") Céline
          span , 
          span 
            a(href="") Victoria Beckham
          span , 
          span 
            a(href="") The Kooples
          span , 
          span 
            a(href="") Zac Posen
          span , and 
          span 
            a(href="") A.P.C Accessories
          span using designer rental destination 
          span 
            a(href="") RentTheRunway
          span to rent out garments and accessories at considerably lower prices than to buy. Finally, repair services are also coming back into vogue, with 
          span 
            a(href="") Brunello Cucinelli 
          span being one of the first of the major designers to offer customers free repairs after an item has been purchased, in doing so actively promoting sustainable fashion. 

      section#Try-on
        h3 Virtual try-on technology 
        p Virtual try-on technology also plays a key role in building a sustainable fashion future and creating a positive environmental change in the industry. This pioneering retail tech can help reduce returns, waste, and carbon footprint by allowing customers to see how products look on them and explore them from every angle before purchasing. This means they can make more informed decisions and are less likely to buy items they will return or discard.
        p In addition, traditional retail requires customers to travel to stores, contributing to carbon emissions. By offering virtual try-on technology, fashion brands can reduce the need for physical stores and the associated emissions.
        p If you’d like to find out more about virtual try-on technology
        a.ids__button-link.M(href="/design-system") Leave your inquiry with Wanna
      section#ProductPassports
        h3 Digital product passports 
        p Digital product passports (DPP) enable the collection and distribution of a garment’s data via a unique QR (Quick Response) or NFC (Near Field Communication) code that provides each garment with a Digital Identity. This Digital Identity not only makes each piece of clothing or accessory unique and trackable, it enables retailers to offer shoppers access to personalizable services and digital experiences. From a sustainability perspective, Digital Product Passports are a useful tool for charting, highlighting, and sharing a garment’s sustainability credentials.
        figure 
          img(src="https://images.unsplash.com/photo-1678365202203-a362fa7c880d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80", alt="")
          caption Source:
        p Digital Product Passports have come at an important moment and in response to the EU’s calls for more alignment and systematic sustainability solutions in fashion, and groundbreaking legislation from the US such as 2022’s 
          span 
            a(href="")  New York’s Fashion Act
          span  (a law which demands fashion brands with revenues of over $100 million doing business in New York to disclose environmental performance). While brands are keen to demonstrate their green credentials, labeling is frequently confusing and unclear, with sources and calculations to back up sustainability claims often relegated to the smallprint. Consumers are left in doubt about what the environmental credentials of a company or its products really are. With Digital Product Passports, brands are obliged to fully articulate their methods for calculating sustainability and a transparency is enabled that works to prevent greenwashing and consumer confusion. Luxury brands which have already adopted Digital Product Passports include 
          span 
            a(href="") Chloé
          span , 
          span 
            a(href="") Pangaia, 
            a(href="") Mulberry, 
            a(href="") Net-A-Porter 
          span and sustainability-focused retailers Armedangels.       
      


    